[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ICED"]
	path = ICED
	url = https://github.com/sdparsons/iced
[submodule "splithalf"]
	path = splithalf
	url = https://github.com/sdparsons/splithalf
